@charset "utf-8";
body{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	background: rgba(94,94,94,0.25);
	color: rgba(0,0,0,0.95);
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	transition: all .5s;
	color: rgba(18,18,18,0.95);
}
a:hover,
a:focus{
	text-decoration: none;
	color: rgba(248,28,0,0.95);
}
::selection{
	background-color: rgba(42,42,42,0.95);
	color: rgba(255,255,255,0.95);
}
.wrapper{
	max-width: 1320px;
	min-width: 240px;
	margin: 50px auto;
	position: relative;
}

/** ON  Section **/
.section{
	margin: 25px 0;
	background: rgba(255,255,255,0.95);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
}
.section-title{
	padding-top: 10px;
	overflow: hidden;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;
	color: rgba(0,0,0,0.95);
	cursor: default;
	font-size: 28px;
}
.section-title::before{
	margin-left: -90%;
}
.section-title::after{
	margin-right: -90%;
}
.section-title::before,
.section-title::after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 90%;
	height: 1px;
	background: rgba(0,0,0,0.95);
	border: solid rgba(255,255,255,0.95);
	border-width: 0 10px;
}

/** ON Header **/
.header,
.footer,
.breadcrumbs,
.main-slider,
.content,
.widget{
	background: rgba(255,255,255,0.95);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.25);
}
.header .navbar,
.breadcrumbs .navbar{
	box-shadow: none;
}
.header .navbar-collapse{
    justify-content: space-between;
}
.header .navbar-brand{
	margin: 0 50px 2px 0;
	font-size: 24px;
	font-weight: 600;
}
.header .navbar-nav{
	margin-top: 5px;
}
.header .nav-item{
	margin-right: 25px;
}
.header .nav-link{
	padding: 0;
	font-size: 16px;
    color: rgba(0,0,0,0.95);
    text-transform: uppercase;
}
.header .nav-link:hover{
	color:  rgba(248,28,0,0.95);
}
.header .btn-primary:focus,
.header .btn-primary:hover{
	background-color: rgba(0,0,0,0.85)
}

/** ON Slider **/
.main-slider .main-slider-item{
	height: 500px;
	position: relative;
}
.main-slider .main-slider-img{
	display: block;
	height: 100%;
	width: 100%;
}
.main-slider .slick-next,
.main-slider .slick-prev{
	padding: 0;
	display: inline-block;
	position: absolute;
	font-size: 32px;
	top: 0;
	width: 12%;
	height: 100%;
	border: none;
	background-color: transparent;
	color: rgba(255,30,0,0.55);
	z-index: 1;
}
.main-slider .slick-next{
	right: 0;
}
.main-slider .slick-prev{
	left: 0;
}
.main-slider .main-slider-detail{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 220px;
	background: rgba(0,0,0,0.6);
}
.main-slider .main-slider-detail h5,
.main-slider .main-slider-detail a{
	display: block;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
	color: rgba(255,255,255,1);
	text-align: center;
	cursor: pointer;
}
.main-slider .main-slider-detail h5:hover a{
	color: rgba(255,30,0,0.95);
}
.main-slider .main-slider-detail p{
	display: block;
	padding: 0;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	color: rgba(255,255,255,1);
	text-align: center;
}

/** ON Rotator **/
.news-rotator{
    margin-bottom: 40px !important;
}
.news-rotator .slick-dots{
	text-align: right;
	bottom: -28px;
	width: 90%;
}
.news-rotator .slick-dots li button::before{
	content: "\f192";
	font-family: "Font Awesome 6 Free";
	font-size: 14px;
	color: rgba(0,0,0,0.95);
	opacity: 0.35;
}
.news-rotator .slick-dots li button:hover:before, 
.news-rotator .slick-dots li button:focus:before{
	opacity: 0.75; 
}
.news-rotator .slick-dots li.slick-active button:before{
	color: rgba(255,30,0,0.95);
	opacity: 1;
}
.news-rotator .slick-next,
.news-rotator .slick-prev{
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	font-size: 20px;
	border: none;
	background-color: rgba(255,255,255,0.95);
	z-index: 1;
}
.news-rotator .slick-next .fa-chevron-right::before{
	content: "\f138";
	font-family: "Font Awesome 6 Free";
	font-size: 24px;
	color: rgba(63,63,63,0.95);
}
.news-rotator .slick-prev .fa-angle-left::before{
	content: "\f137";
	font-family: "Font Awesome 6 Free";
	font-size: 24px;
	color: rgba(63,63,63,0.95);
}
.news-rotator .slick-next{
	bottom: -30px;
	right: 1.5%;
}
.news-rotator .slick-prev{
	font-size: 20px;
	bottom: -30px;
	right: 5%;
}
.news-rotator .slick-next .fa-solid:hover::before,
.news-rotator .slick-prev .fa-solid:hover::before{
	color: rgba(255,30,0,0.95);
}

/** ON News Card **/
.news-rotator .news-card{
	margin: 0 15px 20px 15px;
}
.news-card,
.news-card-line{
	margin: 15px;
	padding: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.15);
	transition: all 0.3s;
	position: relative;
}
.news-card:hover,
.news-card-line:hover{
	box-shadow: 0 4px 8px rgba(0,0,0,0.35);
}
.news-card .news-card-thumb,
.news-card-line .news-card-thumb{
	margin: 0;
	padding: 0;
	height: 245px;
	position: relative;
}
.news-card .news-card-thumb img,
.news-card-line .news-card-thumb img{
	display: block;
	width: 100%;
	height: 100%;
}
.news-card .news-card-category,
.news-card-line .news-card-category{
	position: absolute;
	bottom: 0;
	left: 0;
}
.news-card .news-card-category a,
.news-card-line .news-card-category a{
    margin: 5px;
    padding: 5px 10px;
	font-size: 12px;
    background: rgba(255,255,255,0.95);
}
.news-card .news-card-category i,
.news-card-line .news-card-category i{
	margin-right: 5px;
	font-size: 12px;
}
.news-card .news-card-title{
	margin: 0;
	margin-top: 10px;
}
.news-card .news-card-title h3,
.news-card .news-card-title a,
.news-card-line .news-card-title h3,
.news-card-line .news-card-title a{
	display: block;
	margin: 0;
	padding: 0;
	font-size: 22px;
	text-align: left;
	cursor: pointer;
	color: rgba(0,0,0,0.95);
}
.news-card .news-card-title h3:hover a,
.news-card-line .news-card-title h3:hover a{
	color: rgba(255,30,0,0.95);
}
.news-card .news-card-meta,
.news-card-line .news-card-meta{
	margin: 5px 0;
	padding: 5px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: 1px solid rgba(0,0,0,0.15); 
	border-bottom: 1px solid rgba(0,0,0,0.15) 	
}
.news-card .news-card-meta a,
.news-card .news-card-meta i,
.news-card-line .news-card-meta a,
.news-card-line .news-card-meta i{
	font-size: 16px;
	font-weight: 600;
}
.news-card .news-card-meta a,
.news-card-line .news-card-meta a{
	margin-right: 35px;
}
.news-card .news-card-meta i,
.news-card-line .news-card-meta i{
	margin-right: 5px;
}
.news-card .news-card-text{
	margin: 0;
	padding: 0;
}
.news-card .news-card-text p,
.news-card-line .news-card-text p{
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 5px;
	text-align: left;
	cursor: default;
	color: rgba(58,58,58,0.95);
}

/** ON News Card Line **/
.news-card-line{
	margin: 15px 0;
	overflow: hidden;
}
.news-card-line .news-card-thumb{
	float: left;
    width: 35%;
    height: 220px;
}
.news-card-line .news-card-thumb img{
	width: 100%;
	height: 100%;
	display: block;
}
.news-card-line .news-card-title,
.news-card-line .news-card-meta,
.news-card-line .news-card-text{
	margin-left: 36.5%;
	padding: 0;
}
.news-card-line .news-card-text{
	margin-top: 10px;
}

/** ON Sidebar **/
.sidebar .widget{
	margin: 0 0 25px 0;
	padding: 10px;
}
.sidebar .widget.title{
	margin-bottom: 10px;
	padding: 0;
	display: block;
	font-size: 22px;
	font-weight: 600;
	color: rgba(0,0,0,0.95);
	text-align: left;
	text-transform: uppercase;
	cursor: default;
}
.sidebar .widget-list,
.sidebar .widget-sub-list{
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}
.sidebar .widget-item,
.sidebar .widget-sub-item{
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.sidebar .widget-sub-item{
	padding-left: 20px;
}
.sidebar .widget-item:last-child,
.sidebar .widget-sub-item:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
.sidebar .widget-link,
.sidebar .widget-sub-link{
	font-size: 14px;
	font-weight: 500;
	color: rgba(23,23,23,0.95);
	transition: all .2s ease-in-out;
}
.sidebar .widget-link i.fa-solid,
.sidebar .widget-sub-link i.fa-solid{
	margin-right: 10px;
}
.sidebar .widget-link:hover,
.sidebar .widget-sub-link:hover{
	padding-left: 5px;
	color: rgba(248,28,0,0.95);
}
.sidebar .widget p{
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	line-height: 1.5;
	color: rgba(58,58,58,0.95);
	cursor: default;
}
.sidebar .widget p:last-child{
	margin-bottom: 0;
}
.sidebar .widget a.btn{
	margin: 5px;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 500;
	color: rgba(23,23,23,0.95);
}
.sidebar .widget a.btn i.fa-solid{
	margin-right: 5px;
}
.sidebar .widget a.btn:hover{
	background-color: rgba(248,28,0,0.65);
	color: rgba(255,255,255,0.95);
}

/** ON Content **/
.content{
}

/** ON Breadcrumbs **/
.breadcrumbs{
	margin: 20px 0;
}
.breadcrumbs .navbar .breadcrumb-item,
.breadcrumbs .navbar .breadcrumb-item a{
	font-size: 14px;
	color: rgba(58,58,58,0.95);
}
.breadcrumbs .navbar .breadcrumb-item:hover,
.breadcrumbs .navbar .breadcrumb-item a:hover{
	color: rgba(255,30,0,0.85);
}

/**  ON Footer **/
.footer{
    padding: 0;
    margin: 25px 0 0 0;
}
.footer p{
	margin: 0;
	padding: 10px 50px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	color: rgba(71,71,71,1.00);
	cursor: default;
}
.footer-nav{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.footer-nav a{
	margin: 0 15px 0 0;
	padding: 5px 0;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: rgba(71,71,71,1);
}
.footer-nav a:hover{
	color: rgba(255,30,0,0.95);
}